<!--begin::Menu toggle-->
<a href="#" class="@ToggleBtnClass" data-kt-menu-trigger="@Trigger" data-kt-menu-attach="parent" data-kt-menu-placement="@MenuPlacement">
    @((MarkupString)KTTheme.GetIcon("night-day", "theme-light-show "+@ToggleBtnIconClass))
    @((MarkupString)KTTheme.GetIcon("moon", "theme-dark-show "+@ToggleBtnIconClass))
</a>
<!--begin::Menu toggle-->

<__Menu></__Menu>

@code {
    [Parameter]
    public string ToggleBtnClass { get; set; } = "";

    [Parameter]
    public string MenuPlacement { get; set; } = "bottom-end";

    [Parameter]
    public string ToggleBtnIconClass { get; set; } = "fs-2";

    [Parameter]
    public string Trigger { get; set; } = "{default:'click', lg: 'hover'}";
}